<!DOCTYPE html>
<html>
<head>
	<title>Invoice</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
		body {
			width: 100%;
			padding: 20px;
			display: block;
		}

		h1 {
			font-size: 14px;
			line-height: 5px;
		}
		h1 {
			font-size: 14px;
			line-height: 5px;
		}

		p {
			font-size: 12px;
			line-height: 30px;
		}
		
		tr {
			font-size: 14px;
			line-height: 45px;
		}
		#second-table {
			text-align: center;
			border-collapse: collapse;
			width: 100%;
		}
		#table-a{
			text-align: left;
		}
		#table-b{
			text-align: left;
		}
		h6{
			font-size: 12px;
		}
		#table-c{
			text-align: center;
		}
		#table-d{
			text-align: left;
		}
		#second-table {
			border: 1px solid black;
 			border-collapse: collapse;
		}
		#nd-rows, #nd-rows > th, #nd-rows > td{
			border: 1px solid black;
			text-align: center;
		}
		#table-a > p{
			font-size: 12px;
		}
		#table-ab{
			font-size: 14px;
		}


	</style>
</head>
<body>
	<center>
	<div class="row">
		<div id = "table-d" class="col-md-12">
			<table style="width:100%">
				<tr>
				<td width="40%"><img src="https://aw-gpff.s3.ap-south-1.amazonaws.com/TARGETSFA1.png" width="80" height="70"alt="Nature" class="responsive"></td>
				<td width="60%"><h1>{{$com_details->branch_name}}</h1>
						<p>{{$com_details->branch_address}}<br /> {{$com_details->branch_country}}.PH: + {{$com_details->country_code}} {{$com_details->branch_contact}}</p>
						<p></p></td>

				</tr>
			</table>
		</div>
	</div>
	<h3>Sales Voucher</h3>	
	</center>
	
	<center>
	<div class="row">
		<div id = "table-d" class="col-md-6">
			<table style="width:100%">
				<tr>
				<th width="10%">Customer name: </th>
				<td>{{$order_details->customer_name}}</td>
			</tr>
			<tr>
				<th width="12%">Address: </th>
				<td> {{$cus_de->customer_address}} </td>
			</tr>
			<tr>
				<th width="12%">Location: </th>
				<td>{{$cus_de->customer_location}}</td>
			</tr>
		</table>
	</div>
	<div id = "table-d" class="col-md-6">
			<table style="width:100%">
				<tr>
				<th width="10%">Customer name: </th>
				<td>{{$order_details->customer_name}}</td>
			</tr>
			<tr>
				<th width="12%">Address: </th>
				<td> {{$cus_de->customer_address}} </td>
			</tr>
			<tr>
				<th width="12%">Location: </th>
				<td>{{$cus_de->customer_location}}</td>
			</tr>
		</table>
	</div>
			
	
	</div>

		<table style="width:100%" id="table-ab" class="col-md-6">
			<tr>
				<th width="10%">Customer name: </th>
				<td>{{$order_details->customer_name}}</td>
				<th width="10%">Invoice no:</th>
				<td>{{$invoice}}</td>
			</tr>
			<tr>
				<th width="12%">Address: </th>
				<td> {{$cus_de->customer_address}} </td>
				<th width="12%">Invoice date: </th>
				<td>{{$date}}</td>
			</tr>
			<tr>
				<th width="12%">Location: </th>
				<td>{{$cus_de->customer_location}}</td>
				<th width="12%">Customer Id: </th>
				<td>{{$order_details->customer_id}}</td>
			</tr>
		</table>
		<table id = "second-table" class="col-md-12" style="width:100%">
			<tr id="nd-rows">
				<th>S.No</th>
				<th>Product Name</th>
				<th>Scheme</th>
				<th>Batch.No</th>
				<th>Net_amt</th>
				<th>Gross_amt</th>
				<th>Qty</th>
				<th>Exp.Date</th>
				<th>FOC</th>
				<th>FOC Amt</th>
				<th>Discount</th>
				<th>Amount</th>
			</tr>
			@foreach($datas  as $key=> $data_details)
			<tr id="nd-rows">
				<td>{{ ++$key }}</td>
				<td>{{  $data_details['product_genericname'] }}</td>
				<td>{{  $data_details['scheme'] }}</td>
				<td>{{  $data_details['batch_no'] }}</td>
				<td>{{  $data_details['product_netprice'] }}</td>
				<td>{{  $data_details['product_grossprice'] }}</td>
				<td>{{  $data_details['product_qty'] }}</td>
				<td>{{  $data_details['batch_emp_date'] }}</td>
				<td>{{  $data_details['FOC'] }}</td>
				<td>{{  $data_details['FOC_amt'] }}</td>
				<td>{{  $data_details['product_discount'] }}</td>
				<td>{{  $data_details['product_tot_price'] }}</td>
			</tr>
			$key++;
			@endforeach
		</table>

		<div class="row">
			<div class="col-md-9">
				<table style="width:100%" id="table-ab" class="col-md-6">
					<tr>
						<th>Total box:</th>
						<td>0</td>
					</tr>
					<tr>
						<th><b>Cash: </b></th>
						<td>Thirty five thousand and nine hundred and fifty</td>
					</tr>
					<tr>
						<th><b>Due Date: </b></th>
						<td> - </td>
					</tr>
				</table>
			</div>
			<div id = "table-b" class="col-md-3"> 
				<table style="width:100%" id="table-ab" class="col-md-6">
					<tr>
						<td><b>Net value: </b></td>
						<td>{{$order_details->or_gross_total}}</td>
					</tr>
					<tr>						
						<td><b>Gross Total: </b></td>
						<td>{{$order_details->or_gross_total}}</td>
					</tr>
					<tr>
						<td><b>Discount: </b></td>
						<td>{{$order_details->order_discount}}</td>
					</tr>
					<tr>
						<td><b>Balance: </b></td>
						<td>{{$order_details->or_tot_price}}</td>
					</tr>
					<tr>
						<td><b>Bill amount: </b></td>
						<td>{{$order_details->or_tot_price}}</td>
					</tr>
				</table>
			</div>
		</div>
	</center>

	<p>Received the above goods is good order & conditions</p>
	<br>
	<br>
	<br>
	<br>
	<center>
		<div class="row">
			<div id = "table-c" class="col-md-8">
				<table>
					<tr>
						<td><b>This is computer generated bill.No need of signature.</b></td>
					</tr>
				</table>
			</div>
			<div id = "table-d" class="col-md-4"> 
				<table>
					<tr>
						<td><b>Signature & Stamp of Buyer</b></td>
					</tr>
					<tr>						
						<td>Created By: 2D YGN PHYUSINAYE</td>
					</tr>
				</table>
			</div>
		</div>
	</center>
</body>
</html>