<!DOCTYPE html>
<html>
<head>
	<title>Invoice</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
		body {
			width: 100%;
			padding: 30px;
			display: block;
		}

		h1 {
			font-size: 30px;
			line-height: 10px;
		}
		h1 {
			font-size: 30px;
			line-height: 10px;
		}

		p {
			font-size: 15px;
			line-height: 40px;
		}
		
		tr {
			font-size: 18px;
			line-height: 55px;
		}
		#second-table {
			text-align: center;
			border-collapse: collapse;
			width: 100%;
		}
		#table-a{
			text-align: left;
		}
		#table-b{
			text-align: left;
		}
		h6{
			font-size: 15px;
		}
		#table-c{
			text-align: center;
		}
		#table-d{
			text-align: center;
		}
		#second-table {
			border: 1px solid black;
 			border-collapse: collapse;
		}
		#nd-rows, #nd-rows > th, #nd-rows > td{
			border: 1px solid black;
			text-align: center;
		}
		#table-a > p{
			font-size: 15px;
		}
		#table-ab{
			font-size: 20px;
		}


	</style>
</head>
<body>
	<center>
		<div class="row">
			<img src="https://aw-gpff.s3.ap-south-1.amazonaws.com/TARGETSFA1.png" width="130" height="130"alt="Nature" class="responsive">
		</div>
		<h2>Order Approved Voucher</h2>
		
	</center>
	
	<center>
		<table style="width:100%" id="table-ab" class="col-md-4">
			<tr>
				<th width="2%">Warehouse From: {{ $war_details->warehouse_name }}</th>
				<th width="2%">Invoice no:{{ $invoice }}</th>
			</tr>
			<tr>
				<th width="2%">Warehouse To: </th>
				<td> {{$war_details->sub_ware_name}} </td>
				<th width="2%">Invoice date: </th>
				<td>{{$date}}</td>
			</tr>
		</table>
		<table id = "second-table" class="col-md-12" style="width:100%">
			<tr id="nd-rows">
				<th>S.No</th>
				<th>Category Name</th> 
				<th>Product Name</th>
				<th>Batch.No</th>
				<th>Exp.Date</th>
				<th>Quantity</th>
				<th>netprice</th>				
				<th>grossprice</th>
			</tr>
			@foreach($datas  as $key=> $data_details)
			<tr id="nd-rows">
				<td> {{ ++$key }} </td>
                <td> {{  $data_details->category_name }} </td>
                <td> {{  $data_details->product_genericname }} </td>
                <td> {{  $data_details->batch_id }} </td>
                <td> {{  $data_details->exp_date }} </td>
                <td> {{  $data_details->product_qty }} </td>
                <td> {{  $data_details->product_netprice }} </td>
                <td> {{  $data_details->product_grossprice }} </td>
			</tr>
			$key++;
			@endforeach
			</div>
		</table>
	</center>	
</body>
</html>